/*Comment*/

body {
    font-family: arial;
    font-size: 16pt;
}

#header {
    margin: 10px 30px;
    height: 450px;
    overflow: hidden;
}

#headerimg {
    opacity: 0.5;
    width: 100%
}

#headertxt {
    padding: 1px 20px;
    position: absolute;
    margin-top: -480px;
}

.allergyinfo {
    font-weight: bold;
}

.burgerinfo {
    text-align: left;
}

.burgerselect {
    margin: 10px 30px;
    padding: 1px 20px;	
    border: 3px dashed black;
}

.burgertable {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-gap: 140px;
    grid-template-columns: 500px 500px 500px;
}

.b {
    margin: 0 auto;
    
    background-color: #900;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}


.customerinfo {
    background-color: black;
    color: white;
    margin: 5px 30px;
    padding: 1px 20px;
    border: 3px dashed white;
}

input[type="radio"] {
    height: 1.3em;
    width: 1.3em;
}

#submitbutton {
    margin: 25px 30px;
}

button:hover {
    background-color: yellow;
    cursor: pointer;    
}
