/*Comment*/

body {
    font-family: arial;
    font-size: 16pt;
}

.allergyinfo {
    font-weight: bold;
}

.burgerinfo {
    margin: 5px 50px;
}

#burgertable {
    width: 0pt;
    margin: 0 auto;
}

.customerinfo {
    background-color: black;
    color: white;
    margin: 5px 30px;
    padding: 1px 20px;
}

input[type="radio"] {
    height: 1.3em;
    width: 1.3em;
}

#submitbutton {
    margin: 25px 30px;
}

button:hover {
    background-color: yellow;
    cursor: pointer;
    
}
