/*Comment*/

body {
    font-family: arial;
    font-size: 16pt;
}


.allergyinfo {
    font-weight: bold;
}

#burgerinfo {
  
}

#burgertable {

}

#customerinfo {
    background-color: black;
    color: white;
}

input[type="radio"] {
    height: 1.3em;
    width: 1.3em;
}

button:hover {
    background-color: yellow;
    cursor: pointer;
}
